.opening-hours
    color: #fff !important
    
    table
        background-color: inherit
        color: #fff
        border-width: 0
        width: auto
    td    
        padding-left: 0px !important
        border:none !important